@import url("config.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 2px 2px 2px var(--primary-color);
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}



.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}


.login {
  background-color: white;
}



.auth-buttons a {
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  color: black;
}



.register {
  background-color: white;
}